@font-face {
    font-family: Quicksand;
    src: url(Quicksand-Regular.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
h1 {
  font-family: Quicksand;
  font-size: 4em;
  color: white;
  margin-bottom: 0px;
}
h2 {
  font-family: OpenSans;
  font-size: 2em;
  margin-top: 0px;
}
body {
    background-color: #e68a00;
    padding: 20px;
}
.loadyThing {
    text-align: left;
}
