/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:darkblue; background-color:transparent; text-decoration:underline}
a:active  {color:darkblue; background-color:transparent; text-decoration:underline}
@font-face {
    font-family: Quicksand;
    src: url(Quicksand-Regular.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
ul {
    font-family: sans-serif;
}
li {
    font-size: 1em;
}
h1 {
  font-family: Quicksand;
  font-size: 4em;
  margin-bottom: 0px;
  color: white;
}
h2 {
  font-family: OpenSans;
  font-size: 2em;
  margin-top: 0px;
  color: black;
}
h3 {
    font-family: Quicksand;
    font-size: 1.5em;
}
.definition {
    margin-top: 0px;
    margin-bottom: 0px;
}
h4 {
    font-family: sans-serif;
    font-size: .5em;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    font-size: 1em;
    font-family: OpenSans;
}
body {
    padding: 40px;
    width: 2900px;
    background-image: url("pumpkin.jpg");
}
.No_Center {
  text-align: initial;
}
.loadyThing {
    text-align: left;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: white;
    width: 400px;
    float: left;
    padding: 1em;
        height: 600px;
}
.fit1 {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: white;
        height: 600px;
}
.fit1 h2 {
    font-family: Quicksand;
}
.fit2 {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
        height: 600px;
}
.fit2 h2 {
    font-family: Quicksand;
}
.fit2b {
    vertical-align: top;
    display: inline-block;
    width: 650px;
    margin-left: 20px;
    padding: 1em;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: white;
        height: 600px;
}
.fit3 {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: white;
        height: 600px;
}
.fit3 h2 {
    font-family: Quicksand;
}
.fit4 {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    margin-left: 20px;
    padding: 1em;
    height: 600px;
}
