@font-face {
    font-family: Quicksand;
    src: url(Quicksand-Regular.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
ul {
    font-family: sans-serif;
}
li {
    font-size: 1em;
}
h1 {
  font-family: Quicksand;
  font-size: 4em;
  margin-bottom: 0px;
}
h2 {
  font-family: OpenSans;
  font-size: 2em;
  margin-top: 0px;
}
h3 {
    font-family: Quicksand;
    font-size: 1.5em;
}
.definition {
    margin-top: 0px;
    margin-bottom: 0px;
}
h4 {
    font-family: sans-serif;
    font-size: .5em;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    font-size: 1em;
    font-family: OpenSans;
}
body {
    background-color: #e68a00;
    padding: 40px;
    width: 3200pxx;
}
.loadyThing {
    text-align: left;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: black;
    width: 400px;
    float: left;
    padding: 1em;
        height: 600px;
}
.fit1 {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: black;
        height: 600px;
}
.fit1 h2 {
    font-family: Quicksand;
}
.fit2 {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
        height: 600px;
}
.fit2 h2 {
    font-family: Quicksand;
}
.fit2b {
    vertical-align: top;
    display: inline-block;
    width: 650px;
    margin-left: 20px;
    padding: 1em;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: black;
        height: 600px;
}
.fit3 {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
    border-right-style: solid;
    border-right-width: 5px;
    border-color: black;
        height: 600px;
}
.fit3 h2 {
    font-family: Quicksand;
}
.fit4 {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    padding: 1em;
    height: 600px;
}
